.App {
    width: 100%;
    height: 100vh;
    background: #d8f3dc;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    transition: 1s all;
}


.header .side-panel {
    position: fixed;
    top: 0px;
    right: -1500px;
    width: 380px;
    height: 100vh;
    background: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    transition: right 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
}

.header .side-panel.open {
    right: 0;
}

.header .panel-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.header .close-icon {
    cursor: pointer;
    font-size: 1.2rem;
}

.header .panel-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

/* ITEMS */

.header .fav-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.header .fav-img {
    width: 70px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.header .fav-info h4 {
    margin: 0;
    font-size: 14px;
}

.header .delete-fav {
    margin-left: auto;
    color: #ff4d4d;
    cursor: pointer;
}

/* CART */

.header .cart-footer-btn button {
    padding: 15px 40px;
    font-size: 21px;
    color: #006837;
    cursor: pointer;
    background: lightblue;
    border-radius: 5px;
    box-shadow: 0 0 5px lightblue, 0 0 5px lightblue, 0 0 5px lightblue;
}

/* OVERLAY */

.header .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* HEADER */

.header .box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.header .box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #d8f3dc;
    cursor: pointer;
}

/* NAV */

.header .box nav {
    /* width: 800px; */
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .box nav a {
    font-size: 40px;
    color: #006837;
    transition: 0.3s;
}

.header .box nav a:hover {
    transform: scale(1.1);
}

/* ICONS */

.header .box .icons {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 30px;
}

/* BURGER */

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #006837;
    z-index: 2000;
}

/* PAYMENT */

.back-to-shop {
    margin-left: 15%;
    padding: 9px 20px;
    background: lightblue;
    color: #006837;
    box-shadow: 0 0 5px lightblue;
    cursor: pointer;
}

/* ================= MOBILE ================= */
/* ====== DEFAULT ====== */


/* ====== BURGER ====== */

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #006837;
    z-index: 2000;
}

/* ====== 1024px ====== */

@media (max-width: 1024px) {
    .header .box {
        width: 1024px;
        gap: 0;
        padding: 5px;
    }

    .header .box nav a {
        font-size: 18px;
    }

    .header .box img {
        width: 100px;
        height: 100px;
    }

    .header .box .icons {
        font-size: 18px;
    }
}

/* ====== 768px (BURGER START) ====== */

@media (max-width: 768px) {

    .burger {
        display: block;
    }

    .header .box {
        max-width: 768px;
        gap: 0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .header .box img {
        width: 100px;
        height: 100px;
    }

    .header .box nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 260px;
        height: 100vh;
        background: white;
        flex-direction: column;
        padding-top: 80px;
        gap: 25px;
        transition: 0.3s;
        z-index: 1500;
    }

    .header .box nav.active {
        right: 0;
    }

    /* 👇 DESKTOP ICONS HIDE */
    .header .icons {
        display: none;
    }

    /* 👇 MOBILE ICONS SHOW */
    .mobile-icons {
        display: none;
        gap: 20px;
        margin-top: 30px;
        font-size: 22px;
        justify-content: center;
    }

    .header .box img {
        width: 80px;
        height: 80px;
    }

    .header .side-panel {
        width: 100%;
    }
}

/* ====== 425px ====== */

@media (max-width: 425px) {
    .header .box {
       max-width: 425px;
        gap: 0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .header .box img {
        width: 100px;
        height: 100px;
    }

    .header .box nav {
        width: 220px;
    }

    .header .box nav a {
        font-size: 16px;
    }

    .mobile-icons {
        font-size: 20px;
        gap: 15px;
    }

    .header .box img {
        width: 70px;
        height: 70px;
    }
}